<div id="bg">			
  <div id="header">
    <div id="boss" >
      <h1>
        <a [routerLink]="['/']">HKUST COURSE SELECTION ADVISOR</a>
      </h1>						
    </div>
    <div id="nav">
      <ul class="account">
        <li>
          <a [routerLink]="['/user-profile']">Profile</a>
        </li>
        <li>
          <a href="" (click)="logout()">Logout</a>
        </li>
      </ul>
      <br class="clear" />
    </div>
    
  </div>
  
  <hr />				
  <p>
  
          
  <div id="main">
    <div id="sidebar">

      <h3>
        Functions
      </h3>
      <ul class="linkedList">
        <li class="first">
          <a [routerLink]="['/credit-transfers']">Credit Transfer</a>
        </li>
        <li>
          <a [routerLink]="['/gpa-calc']">GPA Calculator</a>
        </li>
        <li>
          <a [routerLink]="['/course-recommend']">Course Recommendations</a>
        </li>
        <li class="last">
          <u>Graduation Checklist</u>
        </li>
      </ul>
    </div>
    <div id="content">
      <div id="box1">
        <div class="content" style="overflow-x: hidden; overflow-y: scroll; height:610px; width:1300px; color:black">
          <div>
            <h2 style="color:black;">Engineering Fundamental Course(s)</h2>
          </div>
          
          <table class="table">
            <thead>
              
              <tr>
                <th>Id</th>
                <th>Course</th>
                <th>Condition</th>
                <th>Credits</th>
                <th>Fulfilled</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of results">
                <td>{{result.id}}</td>
                <td>{{result.course}}</td>
                <td>{{result.condition}}</td>
                <td>{{result.credits}}</td>
                <td *ngIf="result.fulfilled==true"><i class="fa fa-check-circle fa-2x" style="color:green"></i></td>
                <td *ngIf="result.fulfilled==false"><i class="fa fa-times-circle fa-2x" style="color:red"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br class="clear" />
    </div>
    <br class="clear" />
  </div>

<hr />				
<p>
<div id="copyright">
   <a href="#">About</a> | <a href="#">Contact</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Services</a>
</div>
</div>